#autologin-panel {
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;

  position: fixed;
  left: 50%;
  top: 10px;
  z-index: 9999999;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  font-size: 20px;

  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-color: white;
}

#autologin-panel > button {
  border-radius: 5px;
}
